.body {
  background-color: var(--color-neutral-light);
  font-family:      var(--font-main);
  margin:           0;
  padding:          0;
}

.hnw-description-text {
  background-color: white;
  border:           1px solid var(--color-control-border);
  border-radius:    var(--radius-container);
  font-size:        28px;
  line-height:      1.5;
  margin:           30px auto 30px auto;
  padding:          0 20px;
  width:            90vw;
}
