.embed-body {
  margin: 0;
}

.embed-frame {
  border-width:    0;
  height:       100%;
  width:        100%;
}

.embed-header {
  border-bottom: 2px solid #606164;
}

.main-flex {
  height: 100%;
}
