body {
  margin-left: 50px;
  margin-right: 50px;
}

.chat-wrapper {
  width: 100%;
}

.hnw-host-header {
  margin: -15px -50px 15px -50px;
}

.frame {
  height: 100%;
  width:  100%;
  margin-top: 15px;
}

.host-b-frame {
  margin-bottom: 75px;
}

.activity-text-full {
  line-height: 1.5;
  padding-right: 25px;
}

.host-header {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: -5px;
}

.activity-selection {
  background-color: white;
  display: flex;
  flex-direction: row;
  border: 2px solid;
  height: 400px;
  border-radius: 35px;
  margin-top: 15px;
  padding: 25px;
}

.activity-description {
  width: 40%;
  font-size: 18px;
  margin-right: 30px;
}

.library-model-container {
  position: relative;
}

.library-model-container:hover {
  filter: brightness(0.9);
}

.library-model {
  width: 100%;
  height: 30px;
  font-size: 18px;
  padding-left: 5px;
  border-radius: 8px;
}

.custom-select-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  float: right;
  bottom: 30px;
  background-color: #aed8f2;
  height: 20px;
  width: 20px;
  padding: 4px 10px 4px 10px;
  border: 1px solid gray;
  border-radius: 0 8px 8px 0;
  pointer-events: none;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 18px solid white;
}

.activity-text-short {
  max-height: 200px;
}

.read-more-button {
  background-color: #aed8f2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 50px;
  font-size: 18px;
  border-radius: 8px;
}

.read-more-button:hover {
  filter: brightness(0.9);
}

.read-more-button:active {
  filter: brightness(0.8);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.8);
}

.image-wrapper {
  width: 60%;
}

.preview-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 40px;
}

.form-label {
  display: block;
  font-size: 20px;
  width: 30vw;
}

.form-input {
  display: block;
  margin-top: 5px;
  height: 30px;
  width: 25vw;
}

.center-input {
  margin: 0 3vw 0 3vw;
}

.launch-button {
  background-color: #bfebbe;
  width: 100px;
  height: 40px;
  font-size: 18px;
  border-radius: 8px;
  margin-top: 25px;
}

.launch-button:hover {
  filter: brightness(0.9);
}

.launch-button:active {
  filter: brightness(0.8);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.8);
}

/* (NEW): HostB styling starts here */
.top-setup-row{
  margin-top: -15px;
  justify-content: space-between;
  align-items: flex-end;
}

.button-base {
  width: 175px;
  height: 40px;
  font-size: 16px;
  border-radius: 12px;
}

.copy-invite-button {
  background-color: #e66c6c;
}

.capacity-slider-container {
  align-items: center;
}

.capacity-display-text {
  font-size: 16px;
  text-align: center;
}

.max-num-clients-picker {
  width: 50vw;
  max-width: 400px;
}

.bottom-setup-row {
  margin-top: 15px;
  justify-content: center;
}

.setup-button {
  background-color: #7cacec;
  margin-right: 50px;
}

.go-button {
  background-color: #7cacec;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.popup-header-text {
  font-size: 20px;
  margin-right: 20px;
}

/* TODO */
.command-center-closed-container {
  cursor: pointer;
}

.command-center-closed-container:hover .command-center-closed {
  filter: brightness(0.9);
}

.command-center-closed-container:hover .command-center-closed-bottom {
  filter: brightness(0.9);
}

.command-center-closed-container:active .command-center-closed {
  filter: brightness(0.8);
  box-shadow: -3px 3px rgba(0, 0, 0, 0.9);
}

.command-center-closed-container:active .command-center-closed-bottom {
  filter: brightness(0.8);
  box-shadow: -3px 0 rgba(0, 0, 0, 0.9);
}

.command-center-closed {
  position: fixed;
  bottom: 30px;
  left: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 100px;
  height: 60px;
  color: black;
  font-size: 18px;
  z-index: 3;
  transition: opacity 0.2s;
  background-color: lightgray;
}

.command-center-closed-bottom {
  position: fixed;
  width: 0;
  height: 0;
  border-left: 0;
  border-right: 20px solid transparent;
  border-bottom: 0;
  bottom: 10.8px;
  left: 20px;
  z-index: 3;
  transition: opacity 0.1s;
  border-top: 20px solid lightgray;
}

/* .command-center-closed {
  cursor: pointer;
  position: fixed;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  border-radius: 25px 25px 0 0;
  width: 300px;
  height: 70px;
  background-color: lightgray;
  transition: opacity 0.2s;
} */

/* .command-center-closed:hover {
  filter: brightness(0.9);
}

.command-center-closed:active {
  filter: brightness(0.8);
} */

.command-center-open {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: opacity 0.2s;
}

.command-center-header {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 25px 25px 0 0;
  height: 70px;
  background-color: lightgray;
  border: 1px solid black;
}

.command-center-header:hover {
  filter: brightness(0.9);
}

.command-center-header:active {
  filter: brightness(0.8);
}

.command-center-body {
  height: 300px;
  border-right: 1px solid black;
  background-color: white;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 20px 20px 20px;
  z-index: 1;
}

.triangle-down-black {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 18px solid black;
}

.triangle-up-black {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 18px solid black;
}

/* Custom chat box styling for HostB page */
.session-chat-box-closed {
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
}

.session-chat-box-open {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30vw;
  z-index: 4;
}

.session-open-chat-header {
  align-items: center;
  justify-content: center;
}

.global-chat-box-closed-container {
  cursor: pointer;
}

.global-chat-box-closed-base {
  position: fixed;
  bottom: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
}

.global-chat-box-closed-std {
  right: 100px;
}
.global-chat-box-closed-offset {
  right: calc(30vw + 10px);
}

.global-chat-box-closed-bottom-base {
  bottom: 10.8px;
}

.global-chat-box-closed-bottom-std {
  right: 110px;
}

.global-chat-box-closed-bottom-offset {
  right: calc(30vw + 20px);
}

.global-chat-box-open-base {
  position: fixed;
  bottom: 0;
  width: 30vw;
}

.global-chat-box-open-std {
  right: 100px;
}

.global-chat-box-open-offset {
  right: 30vw;
}

.global-open-chat-header {
  align-items: center;
  justify-content: center;
}

/* (NEW): Specific / custom modal styling */
.stats-modal-title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  text-decoration: underline;
}

.session-dashboard-text {
  font-size: 20px;
}

.stats-modal-bold-text {
  font-weight: bold;
}

.code-modal-title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  text-decoration: underline;
}

.model-info-modal-title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  text-decoration: underline;
}
