.body {
  font-family: sans-serif;
  margin:      0;
  padding:     0;
}

.chat-wrapper {
  width: 100%;
}

.hnw-host-header {
  margin: -15px -50px 15px -50px;
}

.frame {
  width: 100%;
}

.top-section {
  padding: 70px 50px 0 50px;
}

.activity-text-container {
  margin-top:    16px;
  margin-bottom: 16px;
  height:        auto;
  overflow-y:    auto;
  padding-right: 10px;
}

.activity-bottom-wrapper {
  width: 50%;
}

.activity-text-full {
  font-size:   22px;
  line-height: 1.5em;
  max-height:  55%;
}

.host-header {
  font-size:     48px;
  font-weight:   bold;
  margin-bottom: -5px;
  margin-top:    -25px;
}

.activity-selection {

  background-color:    white;
  border:              4px solid black;
  border-radius:       35px;
  display:             grid;
  height:              400px;
  margin-top:          15px;
  padding:             25px;

  grid-template-areas:
    "controls controls controls image image"
    "content  content  content  image image"
    "content  content  content  image image"
    "content  content  content  image image"
    "content  content  content  image image"
    "content  content  content  image image"
    "content  content  content  image image";
}

.selection-area {
  font-size:    22px;
  grid-area: content;
}

.selection-button {
  background-color: var(--violet);
  border-radius:    8px;
  cursor:           pointer;
  display:          block;
  font-size:        23px;
  height:           65px;
  width:            230px;
}

.selection-button.active {
  color:  white;
  background-color: #5748a3;
}

.selection-button:hover {
  filter: brightness(0.9);
}

.selection-button:active {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.8);
  filter:     brightness(0.8);
}

.selection-button-container {
  display:            flex;
  flex-direction:      row;
  gap:                 8px;
  grid-area:      controls;
  margin-bottom:      10px;
  margin-left:       133px;
}

.library-model-container {
  position: relative;
}

.library-model-container:hover {
  filter: brightness(0.9);
}

.library-model {
  border-radius:  8px;
  font-size:     24px;
  height:        38px;
  padding-left:   5px;
  width:          50%;
}

.custom-select-arrow {
  align-items:                  center;
  background-color: var(--medium-blue);
  border:               1px solid gray;
  border-radius:           0 8px 8px 0;
  bottom:                         38px;
  display:                        flex;
  float:                         right;
  height:                         28px;
  justify-content:              center;
  margin-right:                    50%;
  padding:                       4px 0;
  pointer-events:                 none;
  position:                   relative;
  width:                          50px;
}

.evenly-spaced {
  justify-content: space-evenly;
}

.lib-option-button {
  background-color: var(--medium-blue);
  border-radius:    8px;
  cursor:           pointer;
  display:          block;
  font-size:        24px;
  height:           58px;
  width:            170px;
}

.lib-option-button:hover {
  filter: brightness(0.9);
}

.lib-option-button:active {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.8);
  filter:     brightness(0.8);
}

.image-wrapper {
  align-items:       center;
  display:             flex;
  flex-direction:       row;
  grid-area:          image;
  justify-content: flex-end;
  justify-self:         end;
  min-height:             0;
  min-width:              0;
  width:                50%;
}

.preview-image {
  border:        3px solid black;
  border-radius: 20px;
  height:        100%;
  object-fit:    contain;
  padding:       2px;
}

.footer {
  background-color: var(--light-gray);
  border-top:       7px solid var(--medium-blue);
  position:         fixed;
  left:             0;
  bottom:           0;
  width:            100%;
  height:           250px;
  padding-top:      50px;
  z-index:          20;
}

.form-input-wrapper {
  align-items:     center;
  display:         flex;
  justify-content: center;
  padding-bottom:  40px;
}

.form-label {
  display:   block;
  font-size: 24px;
  width:     30vw;
}

.form-input {
  border:        2px solid black;
  border-radius: 15px;
  display:       block;
  font-size:     20px;
  height:        45px;
  margin-top:    10px;
  padding:       10px;
  width:         25vw;
}

.center-input {
  margin: 0 3vw 0 3vw;
}

.launch-button {
  background-color: var(--medium-blue);
  border-radius:    15px;
  cursor:           pointer;
  font-size:        24px;
  font-weight:      bold;
  height:           60px;
  margin-top:       25px;
  width:            150px;
}

.launch-button:hover {
  filter: brightness(0.9);
}

.launch-button:active {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.8);
  filter:     brightness(0.8);
}

.hostB-frame {
  padding-bottom: 75px;
  padding-top:    25px;
}

.hostB-page-body {
  margin: 0 50px;
}

.button-base {
  border:        2px solid black;
  border-radius: 15px;
  cursor:        pointer;
  font-size:     16px;
  font-weight:   bold;
  height:        40px;
  user-select:   none;
  width:         175px;
}

.button-base:hover {
  filter: brightness(0.9);
}

.button-base:active {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.8);
  filter:     brightness(0.7);
}

.setup-row {
  align-items:     end;
  justify-content: space-between;
  margin-bottom:   25px;
}

.copy-invite-button {
  background-color: var(--medium-blue);
}

.copy-invite-button.active {
  background-color: var(--light-baby-blue);
}

.model-title-header {
  font-size:     36px;
  font-weight:   bold;
}

.model-title {
  align-items: center;
}

.model-title-subheader {
  font-size:     24px;
  margin-bottom: 40px;
}
.more-details-button {
  background-color: var(--medium-green);
}

.nlw-iframe-row {
  align-items:     center;
  justify-content: center;
  margin-top:      15px;
}

.capacity-slider-container {
  align-items: center;
  margin-left: 10px;
}

.max-num-clients-slider {
  height:             35vh;
  margin:             8px auto;
  max-width:          6vw;
  -webkit-appearance: slider-vertical;
}

.drawer-closed {
  align-items:      center;
  background-color: lightgray;
  border-radius:    0 50% 0 0;
  border-right:     3px solid black;
  border-top:       3px solid black;
  bottom:           0;
  cursor:           pointer;
  display:          flex;
  filter:           drop-shadow(4px 3px 3px);
  flex-direction:   row;
  height:           75px;
  justify-content:  center;
  left:             0;
  position:         fixed;
  width:            125px;
  z-index:          5;
}

.drawer-closed:hover {
  filter: brightness(0.9);
}

.drawer-closed:active {
  box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.8);
  filter:     brightness(0.8);
}

.drawer-closed-text {
  font-size:   28px;
  font-weight: bold;
  transform:   translate(-7px, 3px);
}

.drawer-expand-arrow {
  border-bottom: 12px solid transparent;
  border-left:   20px solid black;
  border-top:    12px solid transparent;
  height:        0;
  transform:     translate(3px, 5px);
  width:         0;
}

.drawer-open {
  align-items:      center;
  background-color: var(--light2-gray);
  border-radius:    0 30px 0 0;
  border-right:     3px solid black;
  border-top:       3px solid black;
  bottom:           0;
  display:          flex;
  filter:           drop-shadow(4px 3px 6px);
  flex-direction:   row;
  font-weight:      bold;
  height:           75px;
  justify-content:  center;
  left:             0;
  position:         fixed;
  user-select:      none;
  z-index:          5;
}

.menu-pin-container {
  align-items:     center;
  cursor:          pointer;
  display:         flex;
  flex-direction:  column;
  height:          75px;
  justify-content: center;
  width:           75px;
}

.menu-pin-container:hover {
  background-color: var(--medium-orange);
}

.menu-pin-container.active {
  background-color: var(--orange);
}

.menu-pin-container:active {
  opacity: 0.5;
}

.menu-pin-text {
  font-size:  18px;
  margin-top: 10px;
}

.menu-pin-image {
  content:        url(/assets/images/menu-pin.png);
  height:         36px;
  mix-blend-mode: multiply;
  opacity:        0.60;
  transform:      rotate(-45deg);
}

.menu-pin-image.active {
  opacity: 1;
}

.drawer-text-container {
  align-items:     center;
  cursor:          pointer;
  display:         flex;
  flex-direction:  column;
  font-size:       18px;
  height:          100%;
  justify-content: center;
  padding:         0 10px;
  user-select:     none;
}

.drawer-text-container.active {
  background-color: var(--orange);
}

.drawer-text-container:hover {
  background-color: var(--medium-orange);
}

.drawer-text-container:last-child {
  border-radius: 0 30px 0 0;
}

.vertical-divider {
  border-left: 1px solid black;
  height:      75px;
}

.menu-option-container {
  border-radius: 25px;
  bottom:        0;
  position:      fixed;
  right:         0;
  transition:    opacity 0.1s;
  z-index:       2;
}

.command-center-iframe, .model-code-iframe, .model-info-iframe {
  align-items:      flex-end;
  background-color: white;
  border:           1px solid black;
  box-shadow:       none;
  height:           60vh;
  padding:          0;
  width:            99.5%;
  z-index:          1;
}

.command-center-header, .model-code-header, .model-info-header {
  align-content:    center;
  background-color: var(--light2-gray);
  border:           1px solid black;
  border-radius:    25px 25px 0 0;
  cursor:           pointer;
  display:          grid;
  height:           70px;
  padding:          0 20px;
}

.global-chat-header, .session-chat-header {
  align-content:    center;
  background-color: var(--light-blue);
  border:           1px solid black;
  border-radius:    25px 25px 0 0;
  cursor:           pointer;
  display:          grid;
  height:           70px;
  padding:          0 20px;
}

.command-center-header:hover, .model-code-header:hover, .model-info-header:hover {
  filter: brightness(0.9);
}

.command-center-header:active, .model-code-header:active, .model-info-header:active {
  filter: brightness(0.8);
}

.stats-modal-title {
  font-size:       36px;
  font-weight:     bold;
  margin-bottom:   10px;
  margin-top:      0;
  text-align:      center;
  text-decoration: underline;
}

.session-dashboard {
  font-size: 24px;
}

.stats-modal-bold-text {
  font-weight: bold;
}

.model-code-title {
  font-size:       28px;
  font-weight:     bold;
  margin-bottom:   10px;
  margin-top:      0;
  text-align:      center;
  text-decoration: underline;
}

.model-info-title {
  font-size:       28px;
  font-weight:     bold;
  margin-bottom:   10px;
  margin-top:      0;
  text-align:      center;
  text-decoration: underline;
}

.upload-container {
  margin-top: 20px;
}

.file-upload-input {
  font-size: 30px;
  width:     100%;
}

@media (max-width: 800px) {

  .triangle-down-black {
    border-left:  8px solid transparent;
    border-right: 8px solid transparent;
    border-top:   14px solid black;
    height:       0;
    width:        0;
  }

  .custom-select-arrow {
    align-items:     center;
    border:          1px solid gray;
    border-radius:   0 8px 8px 0;
    bottom:          30px;
    display:         flex;
    float:           right;
    height:          20px;
    justify-content: center;
    margin-right:       50%;
    padding:         4px 0;
    pointer-events:  none;
    position:        relative;
    width:           30px;
  }

  .activity-description {
    margin-right: 50px;
  }

  .preview-image {
    height: 300px;
  }

  .popup-header-text {
    font-size:    16px;
    margin-right: 10px;
  }

  .button-base {
    cursor:    pointer;
    font-size: 14px;
    height:    40px;
    width:     125px;
  }

}

/* Duplicated here so that we can override other `display` rules (e.g. when hiding
 * a useless "Go" button).  CSS precedence is weird. --Jason B. (7/17/22)
 */
.hidden {
  display: none;
}
