body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.index-page-body {
  margin: 10px 30px;
}

.hnw-description-text {
  width: 90vw;
  background-color: var(--light-gray);
  padding: 20px;
  border: 3px solid black;
  border-radius: 30px;
  margin: 30px auto 0 auto;
  font-size: 18px;
  line-height: 1.5;
}

.hnw-description-text div:first-child {
  margin-bottom: 15px;
}

.hnw-description-text div:last-child {
  margin-top: 15px;
}

.page-links-group {
  margin: 30px 0;
  align-items: center;
}

.page-links-group a:first-child {
  margin-bottom: 20px;
}

.text-borders {
  margin: 30px 0 30px 40px;
  border: 2px solid lightgray;
}

.button-base {
  cursor: pointer;
  border-radius: 15px;
  white-space: normal;
  user-select: none;
}

.button-base:hover {
  filter: brightness(0.9);
}

.button-base:active {
  filter: brightness(0.7);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.8);
}

.join-page-button {
  width: 350px;
  height: 80px;
  background-color: var(--light-green);
  border: 3px solid black;
  font-size: 32px;
  font-weight: bold;
}

.host-page-button {
  width: 250px;
  height: 60px;
  font-size: 20px;
  background-color: var(--medium-blue);
  border: 2px solid black;
}

.page-end-margin {
  margin-bottom: 50px;
}

@media (max-width: 1200px) and (max-height: 750px) {
  .hnw-description-text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5;
  }

  .join-page-button {
    width: 250px;
    height: 60px;
    font-size: 28px;
  }

  .host-page-button {
    width: 200px;
    height: 45px;
    font-size: 18px;
  }
}
