body {
  margin: 0;
  padding: 0;
}

.index-page-body {
  margin: 10px 30px;
}

.hnw-description-text {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.5;
}

.hnw-description-text p:first-child {
  margin-top: 0;
}

.hnw-description-text p:last-child {
  margin-bottom: 0;
}

.blockquote-bar {
  min-width: 15px;
  margin-right: 20px;
  background-color: lightgray;
}

.page-links-group {
  margin: 30px 0;
  align-items: center;
}

.page-links-group a:first-child {
  margin-bottom: 20px;
}

.text-borders {
  margin: 30px 0 30px 40px;
  border: 2px solid lightgray;
}

.button-base {
  cursor: pointer;
  border-radius: 15px;
  white-space: normal;
  user-select: none;
}

.button-base:hover {
  filter: brightness(0.9);
}

.button-base:active {
  filter: brightness(0.7);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.8);
}

.join-page-button {
  width: 350px;
  height: 80px;
  background-color: #63ab73;
  font-size: 32px;
  font-weight: bold;
}

.host-page-button {
  width: 250px;
  height: 60px;
  font-size: 20px;
  background-color: #aed8f2;
}

.page-end-margin {
  margin-bottom: 50px;
}

@media (max-width: 1200px) and (max-height: 750px) {
  .hnw-description-text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5;
  }

  .join-page-button {
    width: 250px;
    height: 60px;
    background-color: #63ab73;
    font-size: 28px;
    font-weight: bold;
  }

  .host-page-button {
    width: 200px;
    height: 45px;
    font-size: 18px;
    background-color: #aed8f2;
  }
}
