body {
    margin: 0;
    padding: 0;
}

.index-page-header {
    position: sticky;
    top: 0;
    height: 60px;
    padding: 0 50px;
    background-color: #aed8f2;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
}

.page-links-dropdown {
    position: relative;
    display: inline-block;
}

.page-links-dropdown:hover .activities-label {
    background-color: rgb(100, 100, 100);
}

.page-links-dropdown:hover .page-links-tabs {
    display: block;
}

.activities-label {
    display: flex;
    direction: row;
    align-items: center;
    background-color: rgb(60, 60, 60);
    color: white;
    height: 100%;
    padding: 0 20px;
    font-size: 28px;
}

.triangle-down {
    width: 0;
    height: 0;
    margin-top: 3px;
    margin-left: 7px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid white;
}

.page-links-tabs {
    display: none;
    position: absolute;
    right: 0;
}

.page-links {
    display: block;
    white-space: nowrap;
    text-align: center;
    background-color: lightgray;
    color: black;
    border: 1px solid black;
    font-size: 32px;
    padding: 20px 30px;
    text-decoration: none;
}

.page-links:last-of-type {
    border-radius: 0 0 15px 15px;
}

.page-links:hover {
    filter: brightness(0.8);
}

.index-page-body {
    margin: 10px 50px;
}

.welcome-text {
    font-size: 44px;
    font-weight: bold;
    margin: 20px 0;
}

.about-tab {
    display: flex;
    height: 50px;
    margin-right: -50px;
    padding-left: 20px;
    align-items: center;
    font-size: 32px;
    background-color: lightgray;
}

.hnw-description-text {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 1.5;
}

.blockquote-bar {
    min-width: 15px;
    margin-right: 20px;
    background-color: lightgray;
}

.page-links-group {
    margin: 50px 0;
    height: 200px;
    justify-content: space-between;
}

.flex-row-center {
    display: flex;
    flex-direction: flex-row;
    align-items: center;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    margin-right: 20px;
}

.red-triangle-border {
    border-left: 40px solid red;
}

.green-triangle-border {
    border-left: 40px solid green;
}

.blue-triangle-border {
    border-left: 40px solid blue;
}

.join-page-text {
    font-size: 28px;
}

.host-page-text {
    font-size: 24px;
}

.netlogo-text {
    font-size: 24px;
}
