.body {
  margin:  0;
  padding: 0;
}

.joinA-page-body {
  font-family: sans-serif;
}

.joinB-page-body {
  font-family:  sans-serif;
  padding-left: 50px;
}

.top-section {
  height:         70%;
  padding-bottom: 25px;
  padding-left:   50px;
}

.bottom-section {
  background-color: var(--light-gray);
  height:           30%;
  padding-left:     50px;
  padding-top:      25px;
}

.conn-worst {
  animation: blink 0.6s cubic-bezier(1, 0, 0, 1) infinite alternate;
  color:     red;
}

.conn-worse {
  animation: blink 0.6s cubic-bezier(1, 0, 0, 1) infinite alternate;
  color:     blueviolet;
}

.conn-bad {
  color: orange;
}

@keyframes blink {
  to { opacity: 0; }
}

.join-session-header {
  font-size:   36px;
  font-weight: bold;
  padding:     15px 0;
}

.session-status {
  margin-bottom: 15px;
  max-width:     50vw;
}

.status-value-container {
  font-weight: bold;
}

.session-row-wrapper {
  display:    inline-block;
  height:     250px;
  overflow-y: auto;
  width:      100%;
}

.box-shadow-bottom {
  box-shadow: inset 0px -25px 25px -25px rgba(0, 0, 0, 1);
}

.session-filter-box {
  background-image:    url('/assets/images/search-tool-icon.jpeg');
  background-position: right;
  background-repeat:   no-repeat;
  background-size:     contain;
  border:              2px solid black;
  border-radius:       16px;
  height:              40px;
  margin-bottom:       20px;
  margin-left:         -3px;
  padding-left:        10px;
  padding-right:       35px;
  width:               calc(100% + 3px);
}

.session-row-container {
  border-collapse: collapse;
  border-style:    hidden;
  text-align:      center;
  user-select:     none;
  width:           100%;
}

.session-header {
  background-color: var(--light-gray);
  position:         sticky;
  top:              0;
  z-index:          1;
}

.session-row {
  position: relative;
  z-index:  0;
}

.session-element {
  border:          1.25px solid black;
  border-collapse: collapse;
  text-align:      center;
}

.session-name-header {
  padding: 10px 50px;
}

.activity-name-header {
  padding: 10px 60px;
}

.participant-name-header {
  padding: 10px 5px;
}

.table-cell-padding-standard {
  padding: 10px 5px;
}

.session-row.active {
  background-color: var(--orange);
}

.session-row:hover:not(.active) {
  background-color: var(--light-orange);
}

.row-label {
  display: none;
}

.left-column {
  width: 70%;
}

.session-list-boundary {
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin: 25px 0;
  width:  100%;
}

.user-inputs-container {
  margin: 0 auto;
  width:  calc(60vw + 100px);
}

.user-inputs-top-row {
  justify-content: space-between;
  margin-bottom:   40px;
}

.user-inputs-bottom-row {
  justify-content: center;
}

.form-label {
  font-size: 18px;
}

.username {
  border:        2px solid black;
  border-radius: 12px;
  height:        30px;
  margin-left:   -2px;
  margin-top:    5px;
  padding-left:  8px;
  width:         20vw;
}

.password {
  background-color: white;
  border:           2px solid black;
  border-radius:    12px;
  height:           30px;
  margin-left:      -2px;
  margin-top:       5px;
  padding-left:     8px;
  width:            20vw;
}

.password.disabled {
  background-color: var(--medium-gray);
  opacity:          0.7;
}

.role-select {
  background-color: white;
  border:           2px solid black;
  border-radius:    12px;
  height:           30px;
  margin-left:      -2px;
  margin-top:       5px;
  padding-left:     8px;
  width:            20vw;
}

.role-select.disabled {
 background-color: var(--medium-gray);
}

.join-button {
  background-color: var(--medium-green);
  border:           3px solid black;
  border-radius:    15px;
  cursor:           pointer;
  font-size:        24px;
  font-weight:      bold;
  height:           50px;
  margin-bottom:    -3px;
  max-width:        300px;
  width:            20vw;
}

.join-button.disabled {
  background-color: var(--green-gray);
  cursor:           initial;
}

.join-button-active:hover {
  filter: brightness(0.9);
}

.join-button-active:active {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.9);
  filter:     brightness(0.8);
}

.right-column {
  display:         flex;
  flex-direction:  row;
  justify-content: flex-end;
  width:           30%;
}

.standard-column-gap {
  column-gap: 60px;
}

.session-preview-image {
  border:        3px solid black;
  border-radius: 20px;
  box-shadow:    0 0 0 3px white inset;
  height:        25vw;
  margin-right:  20px;
  max-height:    400px;
  max-width:     400px;
  padding:       2px;
  width:         25vw;
}

.horizontal-divider {
  background-color: var(--dark-blue);
  border:           3px solid var(--dark-blue);
  margin:           0 0 0 -50px;
}

.frame {
  padding-bottom: 40px;
  padding-right:  50px;
}

.modal-session-name {
  font-size:       32px;
  font-weight:     bold;
  margin-bottom:   15px;
  margin-top:      0;
  text-align:      center;
  text-decoration: underline;
}

.session-detail {
  font-size:     18px;
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
}

.activity-name {
  font-size:   36px;
  font-weight: bold;
  padding:     15px 0 40px 0;
}

.session-buttons {
  align-items:     flex-end;
  justify-content: space-between;
  margin-bottom:   20px;
}

.view-details-button {
  background-color: var(--light-green);
  border:           2px solid black;
  border-radius:    12px;
  cursor:           pointer;
  font-size:        16px;
  font-weight:      bold;
  height:           40px;
  width:            200px;
}

.view-details-button:hover {
  filter: brightness(0.9);
}

.view-details-button:active {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.9);
  filter:     brightness(0.8);
}

.disconnect-button {
  background-color: var(--salmon);
  border:           2px solid black;
  border-radius:    15px;
  cursor:           pointer;
  font-size:        16px;
  font-weight:      bold;
  height:           40px;
  width:            125px;
}

.disconnect-button:hover {
  filter: brightness(0.9);
}

.disconnect-button:active {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.9);
  filter:     brightness(0.8);
}

.chat-box-closed-container {
  cursor:      pointer;
  user-select: none;
}

.chat-box-closed-container:hover .chat-box-closed {
  filter: brightness(0.9);
}

.chat-box-closed-container:hover .chat-box-closed-bottom-border {
  filter: brightness(0.9);
}

.chat-box-closed-container:active .chat-box-closed {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.9);
  filter:     brightness(0.8);
}

.chat-box-closed-container:active .chat-box-closed-bottom-border {
  box-shadow: 3px 0 rgba(0, 0, 0, 0.9);
  filter:     brightness(0.8);
}

.chat-box-closed {
  align-items:      center;
  background-color: var(--dark-blue);
  border:           2px solid var(--dark-gray);
  border-radius:    10px;
  bottom:           30px;
  color:            white;
  font-size:        16px;
  font-weight:      bold;
  height:           40px;
  justify-content:  center;
  position:         fixed;
  right:            10px;
  transition:       opacity 0.12s;
  width:            80px;
  z-index:          4;
}

.chat-box-closed-bottom {
  border-bottom: 0;
  border-left:   17px solid transparent;
  border-right:  0;
  border-top:    17px solid var(--dark-blue);
  bottom:        15px;
  height:        0;
  position:      fixed;
  right:         21.5px;
  transition:    opacity 0.1s;
  width:         0;
  z-index:       4;
}

.chat-box-closed-bottom-border {
  border-bottom: 0;
  border-left:   20px solid transparent;
  border-right:  0;
  border-top:    20px solid var(--dark-gray);
  bottom:        10.8px;
  height:        0;
  position:      fixed;
  right:         20px;
  transition:    opacity 0.1s;
  width:         0;
  z-index:       3;
}

.chat-box-closed.unread {
  background-color: var(--light-baby-blue);
  color:            black;
  transition:       background-color 0.1s;
}

.chat-box-closed-bottom.unread {
  border-top: 17px solid var(--light-baby-blue);
  transition: border-top 0.1s;
}

.expand-chat-arrow {
  border-bottom: 15px solid black;
  border-left:   10px solid transparent;
  border-right:  10px solid transparent;
  height:        0;
  margin-left:   30px;
  margin-top:    3px;
  width:         0;
}

.chat-box-open {
  bottom:     0;
  position:   fixed;
  right:      10px;
  transition: opacity 0.12s;
  width:      40vw;
  z-index:    2;
}

.open-chat-header {
  background-color: var(--super-light-blue);
  border:           1px solid black;
  border-radius:    25px 25px 0 0;
  color:            black;
  cursor:           pointer;
  font-size:        18px;
  font-weight:      bold;
  height:           70px;
  user-select:      none;
}

.open-chat-header:hover {
  filter: brightness(0.9);
}

.open-chat-header:active {
  filter: brightness(0.8);
}

.open-chat-body {
  background-color: white;
  border:           1px solid black;
  height:           calc(55vh - 5px);
  overflow-y:       auto;
  padding:          5px 0 0 5px;
}

.open-chat-input {
  border:        1px solid black;
  border-bottom: none;
  height:        6vh;
  padding-left:  10px;
  width:         100%;
}
