body {
  margin: 0;
  padding: 0;
}

.joinA-page-body {
  font-family: sans-serif;
}

.joinB-page-body {
  font-family: sans-serif;
  padding-left: 50px;
}

.top-section {
  height: 70%;
  padding-left: 50px;
  padding-bottom: 25px;
}

.bottom-section {
  height: 30%;
  padding-top: 25px;
  padding-left: 50px;
  background-color: var(--light-gray);
}

.conn-worst {
  animation: blink 0.6s cubic-bezier(1, 0, 0, 1) infinite alternate;
  color:     red;
}

.conn-worse {
  animation: blink 0.6s cubic-bezier(1, 0, 0, 1) infinite alternate;
  color:     blueviolet;
}

.conn-bad {
  color: orange;
}

@keyframes blink {
  to { opacity: 0; }
}

.join-session-header {
  font-size: 36px;
  font-weight: bold;
  padding: 15px 0;
}

.session-status {
  margin-bottom: 15px;
  max-width: 50vw;
}

.status-value-container {
  font-weight: bold;
}

.session-row-wrapper {
  height: 250px;
  width: 100%;
  overflow-y: auto;
  display: inline-block;
}

.box-shadow-bottom {
  box-shadow: inset 0px -25px 25px -25px rgba(0, 0, 0, 1);
}

.session-filter-box {
  width: calc(100% + 3px);
  height: 40px;
  padding-left: 10px;
  padding-right: 35px;
  margin-left: -3px;
  margin-bottom: 20px;
  background-image: url('/assets/images/search-tool-icon.jpeg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  border-radius: 16px;
  border: 2px solid black;
}

.session-row-container {
  border-collapse: collapse;
  border-style: hidden;
  text-align: center;
  width: 100%;
  user-select: none;
}

.session-header {
  position: sticky;
  top: 0;
  background-color: var(--light-gray);
  z-index: 1;
}

.session-row {
  position: relative;
  z-index: 0;
}

.session-element {
  border: 1.25px solid black;
  border-collapse: collapse;
  text-align: center;
}

.session-name-header {
  padding: 10px 50px;
}

.activity-name-header {
  padding: 10px 60px;
}

.participant-name-header {
  padding: 10px 5px;
}

.table-cell-padding-standard {
  padding: 10px 5px;
}

.session-row.active {
  background-color: var(--orange);
}

.session-row:hover:not(.active) {
  background-color: var(--light-orange);
}

.row-label {
  display: none;
}

.left-column {
  width: 70%;
}

.session-list-boundary {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin: 25px 0;
}

.user-inputs-container {
  width: calc(60vw + 100px);
  margin: 0 auto;
}

.user-inputs-top-row {
  justify-content: space-between;
  margin-bottom: 40px;
}

.user-inputs-bottom-row {
  justify-content: center;
}

.form-label {
  font-size: 18px;
}

.username {
  margin-top: 5px;
  height: 30px;
  width: 20vw;
  border: 2px solid black;
  border-radius: 12px;
  padding-left: 8px;
  margin-left: -2px;
}

.password {
  background-color: white;
  border:           2px solid black;
  border-radius:    12px;
  height:           30px;
  margin-left:      -2px;
  margin-top:       5px;
  padding-left:     8px;
  width:            20vw;
}

.password.disabled {
  background-color: var(--medium-gray);
  opacity: 0.7;
}

.role-select {
  background-color: white;
  border:           2px solid black;
  border-radius:    12px;
  height:           30px;
  margin-left:      -2px;
  margin-top:       5px;
  padding-left:     8px;
  width:            20vw;
}

.role-select.disabled {
 background-color: var(--medium-gray);
}

.join-button {
  background-color: var(--medium-green);
  border:           3px solid black;
  border-radius:    15px;
  cursor:           pointer;
  font-size:        24px;
  font-weight:      bold;
  height:           50px;
  margin-bottom:    -3px;
  max-width:        300px;
  width:            20vw;
}

.join-button.disabled {
  background-color: var(--green-gray);
  cursor:           initial;
}

.join-button-active:hover {
  filter: brightness(0.9);
}

.join-button-active:active {
  filter: brightness(0.8);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.9);
}

.right-column {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 30%;
}

.standard-column-gap {
  column-gap: 60px;
}

.session-preview-image {
  width: 25vw;
  height: 25vw;
  max-width: 400px;
  max-height: 400px;
  border-radius: 20px;
  margin-right: 20px;
  padding: 2px;
  box-shadow: 0 0 0 3px white inset;
  border: 3px solid black;
}

.horizontal-divider {
  margin: 0 0 0 -50px;
  border: 3px solid var(--dark-blue);
  background-color: var(--dark-blue);
}

.frame {
  padding-right: 50px;
  padding-bottom: 40px;
  height: 100%;
}

.modal-session-name {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.session-detail {
  font-size: 18px;
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
}

.activity-name {
  font-size: 36px;
  font-weight: bold;
  padding: 15px 0 40px 0;
}

.session-buttons {
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.view-details-button {
  width: 200px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 12px;
  background-color: var(--light-green);
  border: 2px solid black;
  cursor: pointer;
}

.view-details-button:hover {
  filter: brightness(0.9);
}

.view-details-button:active {
  filter: brightness(0.8);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.9);
}

.disconnect-button {
  width: 125px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px;
  background-color: var(--salmon);
  border: 2px solid black;
  cursor: pointer;
}

.disconnect-button:hover {
  filter: brightness(0.9);
}

.disconnect-button:active {
  filter: brightness(0.8);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.9);
}

.chat-box-closed-container {
  cursor: pointer;
  user-select: none;
}

.chat-box-closed-container:hover .chat-box-closed {
  filter: brightness(0.9);
}

.chat-box-closed-container:hover .chat-box-closed-bottom-border {
  filter: brightness(0.9);
}

.chat-box-closed-container:active .chat-box-closed {
  filter: brightness(0.8);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.9);
}

.chat-box-closed-container:active .chat-box-closed-bottom-border {
  filter: brightness(0.8);
  box-shadow: 3px 0 rgba(0, 0, 0, 0.9);
}

.chat-box-closed {
  position: fixed;
  bottom: 30px;
  right: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  z-index: 4;
  transition: opacity 0.12s;
  background-color: var(--dark-blue);
  border: 2px solid var(--dark-gray);
}

.chat-box-closed-bottom {
  position: fixed;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 0;
  border-bottom: 0;
  bottom: 15px;
  right: 21.5px;
  z-index: 4;
  transition: opacity 0.1s;
  border-top: 17px solid var(--dark-blue);
}

.chat-box-closed-bottom-border {
  position: fixed;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 0;
  border-bottom: 0;
  bottom: 10.8px;
  right: 20px;
  z-index: 3;
  transition: opacity 0.1s;
  border-top: 20px solid var(--dark-gray);
}

.chat-box-closed.unread {
  background-color: var(--light-baby-blue);
  color: black;
  transition: background-color 0.1s;
}

.chat-box-closed-bottom.unread {
  border-top: 17px solid var(--light-baby-blue);
  transition: border-top 0.1s;
}

.expand-chat-arrow {
  margin-left: 30px;
  margin-top: 3px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid black;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.chat-box-open {
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 40vw;
  z-index: 2;
  transition: opacity 0.12s;
}

.open-chat-header {
  height: 70px;
  cursor: pointer;
  border-radius: 25px 25px 0 0;
  background-color: var(--super-light-blue);
  border: 1px solid black;
  color: black;
  font-size: 18px;
  font-weight: bold;
  user-select: none;
}

.open-chat-header:hover {
  filter: brightness(0.9);
}

.open-chat-header:active {
  filter: brightness(0.8);
}

.open-chat-body {
  height: calc(55vh - 5px);
  padding: 5px 0 0 5px;
  background-color: white;
  border: 1px solid black;
  overflow-y: auto;
}

.open-chat-input {
  border: 1px solid black;
  border-bottom: none;
  width: 100%;
  height: 6vh;
  padding-left: 10px;
}
